Repository cleancoda/notiflyer, pull requests merged in 2023-11, with the labels that each got.

#39 pullrequest - project - updating features-experimental branch to latest
  CITATION.cff
  README.md
  docs/assets/images/chart.webp
  docs/mssql/README.md
  documentation/assets/images/chart.webp
  documentation/mssql/README.md
  src/mssql/00_ddl_create_objects/00_01_tables/00_01_00_drop_if_exists.sql
  src/mssql/00_ddl_create_objects/00_01_tables/00_01_01_create_objects.sql
  src/mssql/00_setup_ddl_create_objects/00_00_tables/00_00_00_backup_if_exists.sql
  src/mssql/00_setup_ddl_create_objects/00_00_tables/00_00_01_drop_if_exists.sql
  src/mssql/00_setup_ddl_create_objects/00_00_tables/00_00_02_create_objects.sql
  src/mssql/99_deploy_install_app/99_99_sql_objects/99_99_00_mssql_server_script/99_99_00_99_install.sql
  src/mssql/99_deploy_install_app/99_99_sql_objects/99_99_00_windows_server_script/99_99_00_99_build.cmd
  src/services/chartapi/docker-compose.yaml
  src/services/mssql/docker-compose.yml
Labels: mssql

#41 pullrequest - project - updating features-experimental branch to latest
  .gitignore
  README.md
  src/mssql/00_setup_ddl_create_objects/00_00_tables/00_00_01_drop_if_exists.sql
  src/mssql/00_setup_ddl_create_objects/00_00_tables/00_00_02_create_objects.sql
  src/mssql/00_setup_ddl_create_objects/00_01_views/00_01_00_backup_if_exists.sql
  src/mssql/00_setup_ddl_create_objects/00_01_views/00_01_01_drop_if_exists.sql
  src/mssql/00_setup_ddl_create_objects/00_01_views/00_01_02_create_objects.sql
  src/mssql/00_setup_ddl_create_objects/00_02_functions/00_02_00_backup_if_exists.sql
  src/mssql/00_setup_ddl_create_objects/00_02_functions/00_02_01_drop_if_exists.sql
  src/mssql/00_setup_ddl_create_objects/00_02_functions/00_02_02_create_objects.sql
  src/mssql/00_setup_ddl_create_objects/00_03_create_procedures.sql/00_03_00_backup_if_exists.sql
  src/mssql/00_setup_ddl_create_objects/00_03_create_procedures.sql/00_03_01_drop_if_exists.sql
  src/mssql/00_setup_ddl_create_objects/00_03_create_procedures.sql/00_03_02_create_objects.sql
Labels: mssql, ci/cd

#42 pullrequest - project - sync bug-testing-validation branch to development
  .gitignore
  CITATION.cff
  README.md
  docs/assets/images/chart.webp
  docs/mssql/README.md
  documentation/assets/images/chart.webp
  documentation/mssql/README.md
  src/mssql/00_ddl_create_objects/00_01_tables/00_01_00_drop_if_exists.sql
  src/mssql/00_ddl_create_objects/00_01_tables/00_01_01_create_objects.sql
  src/mssql/00_setup_ddl_create_objects/00_00_tables/00_00_00_backup_if_exists.sql
  src/mssql/00_setup_ddl_create_objects/00_00_tables/00_00_01_drop_if_exists.sql
  src/mssql/00_setup_ddl_create_objects/00_00_tables/00_00_02_create_objects.sql
  src/mssql/00_setup_ddl_create_objects/00_01_views/00_01_00_backup_if_exists.sql
  src/mssql/00_setup_ddl_create_objects/00_01_views/00_01_01_drop_if_exists.sql
  src/mssql/00_setup_ddl_create_objects/00_01_views/00_01_02_create_objects.sql
  src/mssql/00_setup_ddl_create_objects/00_02_functions/00_02_00_backup_if_exists.sql
  src/mssql/00_setup_ddl_create_objects/00_02_functions/00_02_01_drop_if_exists.sql
  src/mssql/00_setup_ddl_create_objects/00_02_functions/00_02_02_create_objects.sql
  src/mssql/00_setup_ddl_create_objects/00_03_create_procedures.sql/00_03_00_backup_if_exists.sql
  src/mssql/00_setup_ddl_create_objects/00_03_create_procedures.sql/00_03_01_drop_if_exists.sql
  src/mssql/00_setup_ddl_create_objects/00_03_create_procedures.sql/00_03_02_create_objects.sql
  src/mssql/99_deploy_install_app/99_99_sql_objects/99_99_00_mssql_server_script/99_99_00_99_install.sql
  src/mssql/99_deploy_install_app/99_99_sql_objects/99_99_00_windows_server_script/99_99_00_99_build.cmd
  src/services/chartapi/docker-compose.yaml
  src/services/mssql/docker-compose.yml
Labels: mssql, bug-testing
